* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* Header and Navigation */
header {
    padding:18px;
    background-color:#111
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #575757;
}

/* Hero Section */
.hero {
    background: url('steam.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 800px;
    /*animation: imgchange 3s infinite alternate;
    object-fit:cover;
    */
}

@keyframes imgchange{
    0%
    {
        background: url('steam.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        text-align: center;
        height: 800px;
    
        object-fit:cover;
    }

    100%
    {
        background:url('ps4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        text-align: center;
        height: 800px;
       
        object-fit:cover;
    }
}

.hero-content1 {
    font-size: 2.5rem;
    margin-bottom: 100px;
    line-height: 250px;
    
}

.hero-content2{
    font-size: 4.5rem;
    line-height: 575px;
}

.about {
    height: 75px;
    background-color: #0e0f17;
    text-align: center;
}
.about p{
    font-size: 1.1rem;
    max-width: 800px;
    color: white;
    margin: 0 auto;
    line-height: 80px;
}
.hero-content3{
  border-radius: 20px;
  line-height: 80px;
  background-color: #0e0f17;
  margin: auto;
  max-width: 367px;
  height:300px;
}
.hero-content3 p{
  font-size: 2rem;
  text-decoration: underline;
  text-underline-offset: 3px;
  text-decoration-thickness: 2px;
  padding-bottom:50px;
}
.circle1 {
  border-radius:50%;
  border:5px solid rgb(0, 207, 10);
  margin: auto;
  width: 250px;
  height: 250px;
  background: transparent;
  line-height:60px;
}

.circle1 p{
  font-size: 2rem;
  padding:10px;
  color:rgb(0, 207, 10);
  text-decoration: none;
  
}
.circle1 h1{
  padding-top:10px;
  padding-bottom:0px;
  font-size: 4rem;
  color: rgb(0, 207, 10);
  text-decoration:none;
}
.aboutt {
  height: 900px;
  background-color: #0e0f17;
  text-align: center;
}

.aboutt p{
  font-size: 1.1rem;
  max-width: 800px;
  color: white;
  margin: 0 auto;
  line-height: 50px;
  padding-bottom:10px;
}

.aboutTitle p{
  font-size: 3rem;
  max-width: 600px;
  color: white;
  margin: 0 auto;
  line-height: 150px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}

.rules p{
  font-size: 1.1rem;
  max-width: 700px;
  color: white;
  margin: 0 auto;
  line-height: 30px;
}

.button-group {
  margin-top: 30px; /* spacing from text above */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-link {
  display: inline-block;
  text-decoration: none;
  background-color: #0e0f17;;
  color: #ffffff;
  padding: 10px 20px;
  margin-bottom: 15px; /* spacing between buttons */
  border: 3px solid #fff;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-align: center;
  transition: background-color 0.2s ease;
}

.button-link:hover {
  background-color: #24273b;
}

/* Services Section */
.services {
    height: 1400px;
    text-align: center;
    /*
    background:url("slide1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
    background-color: #0e0f17;
}

.services h2 {
    font-size: 2rem;
    line-height: 10px;
    color:white;
}

.service-item {
    margin-bottom: 30px;
    color:white;
}

.service-item h3 {
    font-size: 1.5rem;
    color: #f57c00;
    color:white;
    line-height:150px;
}

.service-item p {
    font-size: 1.1rem;
    color:white;
}


/* Contact Section */
.contact {
    padding: 40px 20px;
    background-color: #1d2129;
    color: white;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.1rem;
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}
