* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
    line-height: 1.6;
    color: #333;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
}

/* Header and Navigation */
header {
    padding:18px;
    background-color:#111
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 40px;
}

nav a {
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #575757;
}

/* Hero Section */
.hero {
    background: url('steam.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    height: 800px;
    /*animation: imgchange 3s infinite alternate;
    object-fit:cover;
    */
}

@keyframes imgchange{
    0%
    {
        background: url('steam.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        text-align: center;
        height: 800px;
    
        object-fit:cover;
    }

    100%
    {
        background:url('ps4.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        color: white;
        text-align: center;
        height: 800px;
       
        object-fit:cover;
    }
}

.hero-content1 {
    font-size: 2.5rem;
    margin-bottom: 100px;
    line-height: 250px;
    
}

.hero-content2{
    font-size: 4.5rem;
    line-height: 575px;
}
/*
.cta-button {
    background-color: white;
    padding: 15px 30px;
    font-size: 1.1rem;
    font-weight: 800;
    color: black;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: black;
    color: white;
}
*/
/* About Section */
.about {
    height: 75px;
    background-color: #0e0f17;
    text-align: center;
}
.about p{
    font-size: 1.1rem;
    max-width: 800px;
    color: white;
    margin: 0 auto;
    line-height: 80px;
}



/* Services Section */
.services {
    height: 500px;
    text-align: center;
    /*
    background:url("slide1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    */
    background-color: #0e0f17;
}

.services h2 {
    font-size: 2rem;
    line-height: 10px;
    color:white;
}

.service-item {
    margin-bottom: 30px;
    color:white;
}

.service-item h3 {
    font-size: 1.5rem;
    color: #f57c00;
    color:white;
    line-height:150px;
}

.service-item p {
    font-size: 1.1rem;
    color:white;
}

.cta-button {
    
    line-height:175px;
    padding: 15px 60px;
    font-size: 1.5rem;
    font-weight: 800;
    color: white;
    border: 2px solid white;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: black;
    color: white;
}


/* Contact Section */
.contact {
    padding: 40px 20px;
    background-color: #1d2129;
    color: white;
    text-align: center;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact p {
    font-size: 1.1rem;
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}